/*botones inicio*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);


*,*:before, *:after{
  box-sizing: border-box;
  padding: 0; margin: 0;
  font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
  color: #FFE81F; /* Color del texto del timeline */
}

  section.container{
    min-width: 500px;
    margin: 10% auto;
    text-align: center;
  }
    a:hover{border-bottom: 1px solid #FFE81F;} 
    h1{font-size: 2em; padding: 20px 0;}
    p{
      font-size: .75em;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 20px 0;
    }
    button {
        background: transparent; outline: none;
        position: relative;
        border: 2px solid #FFE81F;
        padding: 15px 100px;
        overflow: hidden;
        width:12vw;
        height: 31vw;
        opacity: 80%;
        /*min-width: 18vw;*/
    }
    
    button.epoca1:hover{
        cursor: pointer;
        background-image: url("../media/btn_old_rep.png");
        background-size: cover;
        border: 5px solid #FFE81F;
        opacity: 80%;
        /*text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;*/
    }
    button.epoca2:hover{
        cursor: pointer;
        background-image: url("../media/btn_rep.png");
        background-size: cover;
        border: 5px solid #FFE81F;
        opacity: 80%;
        /*text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;*/
        
    }
    button.epoca3:hover{
        cursor: pointer;
        background-image: url("../media/btn_civil.png");
        background-size: cover;
        border: 5px solid #FFE81F;
        opacity: 80%;
        /*text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;*/
    }

    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
.footer, .push {
    height: 100px;
}

ol {
  counter-reset: item;
  list-style-type: none;
  line-height: 2.2;
  margin-left: 0px;
}

ol li {
  display: block;
  position: relative;
}
ol li h3{
  margin-left: 40px;
  color: whitesmoke ;
}
ol li span {
  margin-left: 40px;
}

ol li:before {
  content: counter(item) " ";
  counter-increment: item;
  color: #030303;
  position: absolute;
  top: 50%;
  margin-top: -1em;
  background: #FFE81F;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 2em;
  font-weight: 700;
}