@font-face{
    font-family: "CustomJedi";
    src: url("../css/Starjedi.otf") format("opentype");
  }
  
  .title {
    font-family: CustomJedi;
    font-size: 20px;
    color:#FFE81F;
  }
  .main-wrapper {
    height: 100vh;  
  }