/* Esta hoja de estilos sobreescribe otros estilos para que la línea de tiempo se vea bien en el index */

/* Tipo de letra Jedi */
@font-face{
    font-family: "CustomJedi";
    src: url("Starjedi.otf") format("opentype"); /* Check ruta */
}

/* Título línea de tiempo (h3) */
h3.panel-title {
    font-family: CustomJedi;
    font-size: 28px;
    color:#FFE81F;
    -webkit-text-stroke: 1px black;
    text-align: center;
}

p {
    color: #FFE81F;
}

/* Tamaños de los paneles y demás */
.panel-body {
    padding: 15px;
    color: transparent;
    background-image: url("../media/background.jpg");
    width: 100%;
    height: 100%;
}

.panel-default>.panel-heading { 
    background-image: url("../media/background.jpg");
}

.timeline--horizontal { 
    padding-top: 15px;
    width: 100%;
    width: 100%;
}

.timeline__content {
    background-color: transparent;
    border: 2px solid #FFE81F;
    border-radius: 10px;
    color: #FFE81F; /* Título y fecha */
    display: block;
    padding: 1.25rem;
    position: relative;
    width: 250px;
    /*height: 200px;*/
}

.timeline-nav-button {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 10px;
    outline: 0;
    position: absolute;
    text-indent: -9999px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    width: 40px;
    z-index: 10;
}

.timeline-nav-button timeline-nav-button--next {
    width: 10px;
    height: 10px;
}

/* Con esto hay que jugar */
.timeline__item .timeline__item__inner {
    height: 30%;
    width: 189%;
}

/* Flecha de cada evento */
.timeline--horizontal .timeline__item .timeline__content:before {
    color: #FFE81F;
}

/* Tamaño de los bocadillos de los eventos */
.timeline__item timeline__item--top {
    width: 100px;
    height: 200px;
}

/* Puntos en la línea de tiempo*/
.timeline--horizontal .timeline__item:after {
    left: 21%;
    right: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 97%;
}

.timeline--horizontal .timeline__item .timeline__content:after {
    border-top: 10px solid #ffe81f;
}

.timeline--horizontal .timeline__item:after {
    top: -5%;
    left: 21%
}

/* Para el botón de login */
input {
    color: black;
}

/* En profile.php, para separar número del texto */
ol li::before {
    margin-left: -45px;
    text-align: center;
}

/* Para contenido.php */
.col-lg-6 {
    margin-right: 100px;
    padding-right: 10px;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 11vh;
    padding-left: 0;
}

.iframe {
    height: 100px;
    width: 100px;
}

/* Nav Link */
#eliminar  {
    width: 90px;
}

#seguir  {
    width: 80px;
    margin-top: 120px;
    margin-left: 20px;
}